body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #333;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #00d6d6;
}

a, a:hover, a:visited, a:active {
    color: #00d6d6;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
    color: #000;
}

.text-light {
    color: #DDDDDD !important;
}

.row-spacer {
    margin: 4px;
}

.well {
    background-color: #0B4843;
    color: #fff;
}

.panel-default > .panel-body {
    color: #333;
}

.navbar, .navbar .dropdown-menu {
    background-color: #00302c;
    color: #00d6d6;
}

.navbar .navbar-nav > li > a, .navbar .dropdown-menu a {
    color: #00d6d6;
}

.navbar-brand {
    background: url('../images/LifeStonedHeader.png') center 10px no-repeat;
    width: 150px;
}

.nav-tabs > li.active > a {
    background-color: #00302c;
    color: #FFF;
}

    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        background-color: #00302c;
        color: #FFF;
    }

    .nav-tabs > li.active > a > .badge {
        background-color: #333;
        color: #FFF;
    }

.nav-tabs > li > a, .nav-tabs > li > a:active, .nav-tabs > li > a:visited {
    color: #fff;
}
    .nav-tabs > li > a:hover {
        color: #333;
    }

    .nav-tabs + .tab-content {
        background-color: #00302c;
        padding: 1.5rem 0;
        border: solid 1px #ddd;
        border-top: 0;
        border-radius: 0 0 5px 5px;
    }

/* Home Screen */
.jumbotron.home-map {
    background: url('../images/lifeStonedMapBG.png') center top no-repeat;
}

.btn {
    background-color: #001c1a;
    border-color: #000c0b;
    color: #fff;
}

.btn:hover {
    background-color: #20635e;
    color: #fff;
}

.tile-notice {
    margin: 2.5rem 0;
    padding: 0.25rem;
    font-size: 2rem;
    color: #fff;
    text-align: right;
}
    .tile-notice em {
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        color: #c7961d;
    }

.tile-button {
    background-color: #996734;
    border-radius: 5px;
    margin: 0.75rem 0;
    padding: 0.25rem;
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
}

.tile-button a {
    color: #fff;
}

/* Weenie Edit  */

.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
}

    .icon > img {
        vertical-align: top !important;
    }

.vcenter {
    display: inline-block !important;
    vertical-align: middle !important;
    float: none !important;
}

.wide {
    max-width: 100%;
}

/*World Release Hashes are long:*/
.table td.hashExpand {
    max-width: 166px;
}

.table td.hashExpand a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.weenie-table > tbody > tr.done td:first-child {
    color: #377020;
}
.weenie-table > tbody > tr.working td:first-child {
    color: #6b6b6b;
}
.weenie-table > tbody > tr td:first-child {
    color: #b69e21;
}

.table > thead > tr {
    background-color: #00302c;
}

.table > tbody > tr .btn {
    background-color: #20635e;
    color: #cccccc;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    color: #333;
}


.table-hover > tbody > tr:hover {
    background-color: #20635e !important;
    color: #cccccc !important;
}

    .table-hover > tbody > tr:hover .btn {
        background-color: #cccccc !important;
        color: #20635e !important;
    }

        .table-hover > tbody > tr:hover .btn:hover {
            background-color: #20635e !important;
            color: #cccccc !important;
        }

.btn-group-vertical.stuck {
    position: fixed;
    left: 0;
    top: 15rem;
}