@model Lifestoned.DataModel.Gdle.IndexModel

@{
    ViewBag.Title = "Recent Changes";
}

<br/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <h4>Most Recent Weenie Changes</h4>

    @Html.Partial("WeenieList", Model.Results)

}

