@using Lifestoned.DataModel.Shared;
@model Enum

@{
    var name = ViewData.TemplateInfo.HtmlFieldPrefix;
    int i = 1;
    var id = ViewData.TemplateInfo.GetFullHtmlFieldId("");
}
@Html.Hidden("", Convert.ToInt32(Model))

@foreach (var r in Enum.GetValues(Model.GetType()))
{
    if (((int)r) < 1)
    {
        continue;
    }
    <label>
        @Html.CheckBox(((int)r).ToString(), (Convert.ToInt32(Model) & (int)r) > 0,
                new
                {
                    @class = "flags-multi-checked",
                    data_target = $"#{id}",
                    value = Convert.ToInt32(r)
                })
        @Html.Raw((r as Enum).GetName())
    </label>

    if (i % 7 == 0)
    {
        <br />
    }
    i++;
}
